:root {
  --primary-bg-color: #FFEDFA;
  --primary-nav-color: #BE5985;
  --hover-nav-color: #FFB8E0;
  --active-nav-color: #EC7FA9;
  --primary-button-color: #BE5985;
  --primary-button-hover-color: #FFB8E0;
}

#myTopnav .topnav a {
  float: left;
  display: block;
  color: var(--hover-nav-color);
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  margin-bottom: 0;
}

#myTopnav .topnav a:hover {
  background-color: var(--hover-nav-color);
  color: black;
}

#myTopnav .topnav a.active {
  background-color: var(--active-nav-color);
  color: white;
}

#myTopnav .topnav .icon {
  display: none;
}


.aboutPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-bg-color);
}
/*
.contactItem {
  width: 48%;
  float: left;
  margin: 10px;
}*/

/* Media Queries for the image//text layout seen on the about page */

@media (min-width: 600px) {
  .aboutItem {
    width:100%;
    height:auto;
    float:left;
  }

  .aboutPage {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .aboutItem {
  width: 68%;
  float: left;
  align-content: center;
  }
  .aboutImage {
    height:40vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  .aboutPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-bg-color);
  }


}

.aboutWrapper .aboutItem .p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

