:root {
  --primary-bg-color: #FFEDFA;
  --primary-nav-color: #BE5985;
  --hover-nav-color: #FFB8E0;
  --active-nav-color: #EC7FA9;
  --primary-button-color: #BE5985;
  --primary-button-hover-color: #FFB8E0;
}

.contactPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-bg-color);
}
/*
.contactItem {
  width: 48%;
  float: left;
  margin: 10px;
}*/

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 35px;
  vertical-align: super;
}

/* Media Queries for the image//text layout seen on the contact page */
@media (min-width: 600px) {
  .contactItem {
    width:100%;
    float:left;
  }
  .contactPic {
    width: 10px;
  }

  .contactPage {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .contactItem {
  width: 77%;
  float: left;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  .contactPic {
    height: 30vw;
    width: auto;
    float: right;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contactPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-bg-color);

  }


}




